.home-view {

    flex: 1;

    .app-hero {
        height: 93vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .overlay,
        &__background {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
        }

        .overlay {
            background-color: rgba(0, 0, 0, 0.884);
            z-index: 5;
        }

        &__background {
            min-height: 100vh;
            background-color: black;
            object-fit: cover;
        }

        .text-container {
            font-family: Nunito-bold;
            font-size: em(78px);
            position: relative;
            z-index: 20;
            color: $light-color;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            .hero-header {
                width: em(180px);
                margin-block-end: em(5px);
                line-height: em(15px);
            }

            .hero-subheader {
                font-size: 0.27em;
                font-family: Nunito-Light;
                width: em(500px);
                margin-block-end: em(35px);
            }

            .hero-btn {
                text-decoration: none;
                text-transform: uppercase;
                color: $dark-color;
                letter-spacing: em(1.3px);
                padding: em(5px) em(10px);
                cursor: pointer;
                display: inline-block;

                @include for-narrow-layout {
                    font-size: em(8px);
                }

                &.link-dashboard {
                    padding-right: 0;
                }

                background-color: $primary-color;
                color: $light-color;

                &:hover {
                    color: $dark-color;
                    background-color: $light-color;
                }
            }
        }
    }

    .bullet-points {
        height: 100vh;
        padding-block-start: rem(50px);

        .headers {
            text-align: center;
            font-family: Nunito-Bold;
            letter-spacing: -12px;
            line-height: 180px;
            margin-block-end: em(50px);
            
            >:first-child {
                padding-inline-end: em(18px);
            }
            
            >:nth-child(2) {
                padding-inline-start: em(35px);
            }
            
            >:last-child {
                padding-inline-end: em(10px);
            }
            
            h2 {
                font-size: em(200px);
                .action {
                    letter-spacing: 0px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    cursor: pointer;
                    color: $dark-color;                    
                    font-size: 0.2em;
                    width: max-content;
                    display: inline;
                }
            }

        }

        .steps {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: em(200px);
            padding-inline-end: em(270px);

            .demo {
                flex-basis: 30%;
                background-color: rgb(172, 172, 172);
                height: 500px;
            }

            .cards {
                article {
                    display: flex;
                    align-items: center;
                    gap: em(130px);
                    width: em(550px);
                    font-family: Nunito-Bold;
                    
                    h3 {
                        font-size: em(140px);
                    }

                    h2 {
                        margin-block-end: rem(20px);
                    }
                }
            }
        }
    }
}