// // Roboto
// @font-face {
//   font-family: 'Roboto-Regular';
//   src: url('@/styles/fonts/Roboto/Roboto-Regular.ttf');
// }

// @font-face {
//   font-family: 'Roboto-Bold';
//   src: url('@/styles/fonts/Roboto/Roboto-Bold.ttf');
// }

// @font-face {
//   font-family: 'Roboto-Medium';
//   src: url('@/styles/fonts/Roboto/Roboto-Medium.ttf');
// }

// // Rubik
// @font-face {
//   font-family: 'Rubik-Regular';
//   //   src: url('@/styles/styles/fonts/Rubik/Rubik-Regular.ttf');
//   src: url('@/styles/fonts/Rubik/Rubik-Regular.ttf');
// }

// @font-face {
//   font-family: 'Rubik-Medium';
//   src: url('@/styles/fonts/Rubik/Rubik-Medium.ttf');
// }

// @font-face {
//   font-family: 'Rubik-Bold';
//   src: url('@/styles/fonts/Rubik/Rubik-Bold.ttf');
// }

// @font-face {
//   font-family: 'Rubik-SemiBold';
//   src: url('@/styles/fonts/Rubik/Rubik-SemiBold.ttf');
// }

// // Oswald

// @font-face {
//   font-family: Oswald-regular;
//   src: url('@/styles/fonts/Oswald/Oswald-regular.ttf');
// }

// @font-face {
//   font-family: Oswald-bold;
//   src: url('@/styles/fonts/Oswald/Oswald-bold.ttf');
// }

// @font-face {
//   font-family: Oswald-light;
//   src: url('@/styles/fonts/Oswald/Oswald-light.ttf');
// }
// @font-face {
//   font-family: Oswald-extra-light;
//   src: url('@/styles/fonts/Oswald/Oswald-ExtraLight.ttf');
// }

// // Nunito

// @font-face {
//   font-family: Nunito-regular;
//   src: url(@/styles/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
// }

@font-face {
  font-family: Nunito-bold;
  src: url(@/styles/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: Nunito-light;
  src: url(@/styles/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

// // Noto

// @font-face {
//   font-family: NotoSans-regular;
//   src: url(@/styles/fonts/Noto_Sans/NotoSans-Regular.ttf);
// }

// @font-face {
//   font-family: NotoSans-bold;
//   src: url(@/styles/fonts/Noto_Sans/NotoSans-Bold.ttf);
// }

// @font-face {
//   font-family: NotoSans-light;
//   src: url(@/styles/fonts/Noto_Sans/NotoSans-Light.ttf);
// }
// // Great Vibes
// @font-face {
//   font-family: Great-Vibes;
//   src: url(@/styles/fonts/Great_Vibes/GreatVibes-Regular.ttf);
// }

// // Clarkson
// @font-face {
//   font-family: clarkson;
//   src: url(@/styles/fonts/clarkson/ClarksonScript-Regular.otf);
// }
