// SETUP
@import 'setup/typography';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/variables';

// BASE
@import 'base/base';
@import 'base/helpers';
@import 'base/spacing';
@import 'base/layout';

// COMPONENTS
@import 'components/user-msg';
@import 'components/app-header';
@import 'components/scroll-indicator';
@import 'components/home-bullet-points';
@import 'components/app-hero';

// VIEWS
@import 'views/home-view'