.app-header {
    background-color: $light-color;
    z-index: 30;
    position: fixed;
    width: 100vw;

    &__inner {
        padding-block: em(10px); 
        .logo-wrapper {

            .logo {
                text-align: left;
                width: em(120px);
                cursor: pointer;
            }
        }

        .nav-wrapper {
            display: none;

            @include for-medium-layout {
                display: block;
            }

            .user-img {
                height: rem(55px);
                width: rem(55px);
                margin-left: rem(60px);
            }   
        }
    }
}