.template-gallery {
    position: relative;
    background-color: $dark-color;
    max-height: 100vh;
    overflow-y: hidden;

    &__inner {

        padding: em(200px) 0 em(250px) 0;
        display: flex;
        justify-content: end;
        position: relative;


        .sticky-action {
            position: absolute;
            top: 15%;
            left: 50px;
            max-width: 480px;
            font-family: Nunito-Light;
            color: $light-color;
            z-index: 20;

            h2 {
                margin-inline-start: -3px;
                font-size: em(82px);
                margin-block-end: em(2px);
                line-height: em(18px);
            }

            h5 {
                padding-inline-end: em(80px);
                font-size: 1.2em;
                margin-block-end: em(21px);
            }
        }

        .img-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            max-width: 100%;
            height: 200vh;
            perspective: 1px;
            overflow-y: scroll;
            overflow-x: hidden;
            transform-style: preserve-3d;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                background: #000;

                img {
                    width: 100%;
                    box-shadow: 0 0 10px 1px #ffffff3b;
                }
            }

            >:nth-child(1) {
                grid-row: 2/5;
                grid-column: 1/9;
                transform: translateZ(.1px) scale(0.4) translateX(400px) translateY(0vh);
            }

            >:nth-child(2) {
                grid-row: 1/4;
                grid-column: 7/-1;
                transform: translateZ(-.2px) scale(1.1) translateY(-10vh);
            }

            >:nth-child(3) {
                grid-row: 6/10;
                grid-column: 5/12;
                transform: translateZ(-.25px) scale(1.05) translateY(-20vh);
            }

            >:nth-child(4) {
                grid-row: 10/14;
                grid-column: 2/9;
                z-index: 10;
                transform: translateZ(.1px) scale(0.9) translateY(10vh);
            }

            >:nth-child(5) {
                grid-row: 13/17;
                grid-column: 6/11;
                z-index: 5;
                transform: translateZ(-.2px) scale(1.1) translateX(500px) translateY(-60vh);
            }

            >:nth-child(6) {
                grid-row: 15/20;
                z-index: 5;
                grid-column: 1/8;
                transform: translateZ(.1px) scale(0.9) translateX(500px) translateY(30vh);
            }

            >:nth-child(7) {
                grid-row: 18/21;
                grid-column: 7/12;
                transform: translateZ(-.25px) scale(1.05) translateX(14vw) translateY(-50vh);
            }

            >:nth-child(8) {
                grid-row: 23/27;
                grid-column: 2/5;
                transform: translateZ(-.25px) scale(1.05) translateX(20vw) translateY(-10vh);
            }

            >:nth-child(9) {
                grid-row: 24/30;
                grid-column: 6/-1;
                transform: translateZ(.1px) scale(0.5) translateX(14vw) translateY(-10vh);
            }

            >:nth-child(10) {
                grid-row: 30/37;
                grid-column: 2/10;
                transform: translateZ(-.25px) scale(0.8) translateY(-80vh);
            }

            >:nth-child(11) {
                grid-row: 35/39;
                grid-column: 8/12;
                transform: translateZ(.1px) scale(0.9) translateY(-20vh);
            }

            >:nth-child(12) {
                grid-row: 41/46;
                transform: translateZ(-.2px) scale(1.1) translateX(14vw) translateY(-60vh);
                grid-column: 1/7;
            }

            >:nth-child(13) {
                grid-row: 47/52;
                grid-column: 5/11;
                transform: translateZ(.1px) scale(0.9) translateY(-50vh);
            }

            >:nth-child(14) {
                grid-row: 51/55;
                grid-column: 3/7;
                transform: translateZ(-.25px) scale(1.05) translateY(-60vh);
            }

            >:nth-child(15) {
                transform: translateZ(.1px) scale(0.5) translateY(-200vh);
                grid-row: 57/62;
                grid-column: 6/-1;
            }

            >:nth-child(16) {
                transform: translateZ(-.25px) scale(1.05) translateY(-50vh);
                grid-row: 59/65;
                grid-column: 3/7;
            }
        }
    }
}